.page-component {

    .page-title {
        display: flex;
        align-items: center;
        h1 {
            margin-bottom: 0px !important;
        }
    }

    .header {
        margin-top: 37px;
        margin-bottom: 10px;

        
    }

}
