.profile {
    &__content {
        margin-top: 20px;

        &--box {
            padding: 32px 24px;
            background-color: white;
            min-height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &--title {
                font-size: 28px;
                font-weight: 600;
                line-height: 42px;
                letter-spacing: 0em;
            }
        }
    }
}
