.profile {
    &__content {
        margin-top: 20px;

        &--box {
            padding: 32px 24px;
            background-color: white;
            min-height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &--title {
                font-size: 28px;
                font-weight: 600;
                line-height: 42px;
                letter-spacing: 0em;
            }
        }
    }

    &__sidebar {
        display: flex;

        &__list {
            width: 100%;

            &--active {
                background-color: rgba(11, 95, 255, 0.05) !important;
    
                svg {
                    color: $primary;
                }
    
                span {
                    margin-left: -5px;
                    font-weight: 600;
                    color: $primary;
                }
            }

            &--item {
                background-color: rgba(39, 40, 51, 0.04);
                padding: 10px;
                cursor: pointer;
            }

            &--item:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }
    &__panel {
        .panel-collapse {
            color: $black;
        }
        &--title {
            font-size: 1rem;
            font-weight: 600;
        }
        &--body {
            font-size: 0.875rem;
        }
    }
}
