.skill {
    margin-right: 16px;
    margin-bottom: 16px;
    font-size: 0.875rem;
    font-weight: 400;
    transition: 0.2s;

    &:hover {
        background-color: $primary-l3;
        color: $primary;
        border-color: $primary-l2;
    }
}
