
$black: #000 !default;
$primary: #0b5fff !default;
$primary-l2: #b3cdff !default;
$primary-l3: #f0f5ff !default;
$success: #287d3c !default;
$secondary: #6b6c7e !default;
$gray-300: #e7e7ed !default;
$white: #fff !default;
$blue: #4b9fff !default;
$orange: #ffb46e !default;
$red: #ff5f5f !default;
$teal: #50d2a0 !default;
$pink: #ff73c3 !default;
$green: #9be169 !default;
$purple: #af78ff !default;

$fontFamilySansSerif: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

@import './components/header.scss';
@import './components/page.scss';
@import './components/panel.scss';
@import './components/profile.scss';
@import './components/custom-select.scss';
@import './components/sidebar.scss';
@import './components/skill.scss';
@import './components/summary-chart.scss';
@import './components/welcome.scss';

@import './pages/sign-in.scss';
@import './pages/skill.scss';
@import './pages/team.scss';
@import './pages/welcome.scss';
@import './pages/home.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $fontFamilySansSerif;
  background-color: #f1f2f5;
}

.application {
  height: 100%;
  background-color: #f1f2f5;

  .content {
    height: calc(100vh - 60px);
  }
}

.NavigationBar {
  height: 56px;

  .user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }
}

* {
  box-sizing: border-box;
}

.NavigationBar ul.navbar-nav {
  display: contents;
}

.link {
  cursor: pointer;
}

.text-black {
  color: black;
}

.legend-text {
  color: $secondary;
  font-family: $fontFamilySansSerif;
  font-size: 16px;
}