
$primary: #0b5fff !default;
$secondary: #6b6c7e !default;
$success: #287d3c !default;

@import './components/page.scss';
@import './components/welcome.scss';
@import './components/profile.scss';

@import './pages/sign-in.scss';
@import './pages/welcome.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f1f2f5;
}

.application {
  height: 100%;
  background-color: #f1f2f5;

  .content {
    height: calc(100vh - 60px);
  }
}

.NavigationBar {
  height: 56px;

  .user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }
}

* {
  box-sizing: border-box;
}

.NavigationBar ul.navbar-nav {
  display: contents;
}

.link {
  cursor: pointer;
}

.text-black {
  color: black;
}
